<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>안녕하세요 김은찬이 공부하는 공간입니다.</p>
    <p>강솔이 다시 포크하게 해보기</p>
    <p>강솔이 다시 포크하게 해보기</p>
    <p>내가 수정하면 깃허브에 올라가는 데</p>
  </body>
</html>
